
    .form-contacto input, .form-contacto textarea {
    width: 100%;
    font-size: 14px;
    color: #000;
    padding: .9em 0em;
    border: none;
    border-bottom: 2px solid rgb(219, 69, 14);
    border-radius: 0px;
    background: transparent;
    outline: none;
    animation: aparicion 2s ease-in-out;
    }
    .form-contacto textarea {
    resize: none;
    height: 10em;
    }
    .btn-enviar{
    width: 25%;
    font-size: 17px;
    padding: 11px 0px;
    color: #fff;
    margin-top: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    background: #000000;
    animation: aparicion 2s ease-in-out;
    }
    .btn-enviar:hover {
    background:rgb(219, 69, 14);
    color: #fff;
    }
    .title{
        font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
        font-size: 55px;
        color:#000;
    }
    @media only screen and (max-width: 768px) {
   
        .title {
          font-size: 2.5rem;
        }
      }
      @keyframes aparicion {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    