.header{
    background-image: url(../Img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    filter: contrast(110%);
}
.frase {
    font-family: abril fatface, serif;
    font-size: 35px;
    color:#ffffff;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
