.header {background-color: rgb(219, 69, 14);
    text-align: center;}
    .logo{max-width: 150px;}
    .h1 {text-align: center;
    font-family: Broadway;
    font-size: 50px;}
    *{margin: 0;
        padding: 0;}
    