section{
    display: flex;
    width: 100%;
    height: 450px;
}
section img{
    flex-grow: 1;
    object-fit: cover;
    height: 450px;
} 
.card{
    width: 100%;
    height: 450px;
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
}
.contenido{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #02020266;
    opacity: 0;
    transition: .5s ease;
}
h2, p{
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
}
.contenido a:hover{
    color:#db450e;
}
.contenido:hover{
    cursor: pointer;
    opacity: 1;
    filter: contrast(120%);
}
.fondo{
    background-color: #2a2a2a;
    height: 620px;
}
.tit{
    font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    font-size: 55px;
    color:#fff;
    text-align: center;
    padding: 10px 0px;
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 576px) {
    section{
      height: auto; 
      flex-direction: column;
      align-items: center;
      
    }
    section img{
      height: auto;
      width: 100%;
    }
    .card{
      height: auto;
      margin-bottom: 20px;
    }
    .fondo{
        background-color: #2a2a2a;
        height: auto;
    }
  }
  
  /* Estilos para tablets */
  @media screen and (min-width: 577px) and (max-width: 768px) {
    section{
      height: 400px; 
      flex-direction: row;
      align-items: stretch;
    }
      .fondo{
          background-color: #2a2a2a;
          height: 550px;
      }
  }
  
  /* Estilos para pantallas medianas y grandes */
  @media screen and (min-width: 769px) {
    section{
      height: 450px; 
      flex-direction: row;
      align-items: stretch;
    }
  }
  
@media only screen and (max-width: 768px) {
   
    .tit {
      font-size: 45px;
    }
    
   
  }