section{
    display: flex;
    width: 100%;
    height: 430px;
}
section img{
    flex-grow: 1;
    object-fit: cover;
    height: 430px;
} 
.card{
    width: 100%;
    height: 430px;
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
}
.contenido{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #02020266;
    opacity: 0;
    transition: .5s ease;
}
h2, p{
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
}
.contenido a:hover{
    color:#db450e;
}
.contenido:hover{
    cursor: pointer;
    opacity: 1;
    filter: contrast(120%);
}
.tit{
    
    background-color: #2a2a2a;
}
.tit h1{
    font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    font-size: 55px;
    color:#fff;
    text-align: center;
  
}
